body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:63px;
  width:70px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u6961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u6961 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:197px;
  width:70px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u6962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:197px;
  width:70px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
